.hp-list {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Urbanist', sans-serif;
    font-size: 14px;
}

.hp-each-spot {
    display: flex;
    flex-wrap: wrap;
}

.hp-each-list {
    width: 250px;
    padding: 10px;
    margin:10px
}

.hp-name-star {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    margin: 10px 0 5px;
}

#link {
    text-decoration: none;
    color: inherit
}

.hp-preview-img, img {
    width: 250px;
    height: 220px;
    border-radius: 10px;
}

#hp-price {
    font-weight: bold ;
}

li {
    list-style-type:none;
}

#hp-spot-name {
    color: grey;
}

.hp-page-bottom {
    box-sizing: border-box;
    position: fixed;
    border-top: 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: grey;
    bottom: 10px;
    width: 100%;
    padding: 0 40px 0;
}
