.hp-list {
    width: calc(50% - 12px);
    box-sizing: border-box;
    margin: 2vh 2vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 2vw;
    row-gap: 2vh;
}

.hp-each-list {
    width: 300px;
}

.hp-name-star {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    margin: 10px 0 5px;
}

#link {
    text-decoration: none;
    color: inherit
}

.hp-preview-img, img {
    width: 300px;
    height: 250px;
    border-radius: 10px;
}

#hp-price {
    font-weight: bold ;
}

li {
    list-style-type:none;
}

#hp-spot-name {
    font-weight: 500;
    color: grey;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 70%;
    display: block;
}

.hp-page-bottom {
    box-sizing: border-box;
    position: fixed;
    border-top: 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: grey;
    bottom: 0px;
    width: 100%;
    padding: 0 40px 10px;
    background-color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}
