.create-spot-form-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#create-spot-form-button {
    margin:10px;
    padding: 5px 10px 5px;
    font-size: 15px;
    margin-top: 30px;
    border-radius: 10px;
    border: 1px solid #dddddd;
}

#create-spot-form-button:hover {
    background-color: #ff385c;
}

.preview-container {
    margin-top: 20px;
    width: 60%;
}

.preview-container>#preview-label {
    display: flex;
    justify-content: center;
}

.preview-container>#preview-ture-false {
    display: flex;
    justify-content: space-around;
}

#write-review-button{
    margin-right: 20px;
    padding: 0 10px 0;
    font-size: 14px;
    margin-top: 30px;
    border-radius: 10px;
    border: 1px solid #dddddd;
    background-color: transparent;
}
#write-review-button:hover {
    background-color: #dddddd;
}

#create-review-button {
    margin-top: 20px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 1px 5px 1px;
}

#create-review-button:hover {
    background-color: #ff385c;
}

#create-review-star-label>input {
    width: 145px;
}
