#signup-form-button {
    margin:10px;
    padding: 5px 10px 5px;
    font-size: 14px;
    border: 1px solid #dddddd;
    margin-top: 30px;
    border-radius: 10px;
}

#signup-form-button:hover {
    background-color: #ff385c;
}

.signup-form-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
